version: '3.8'

services:
  hadoop:
    build: .
    ports:
      - "9870:9870"
      - "9864:9864"
      - "8042:8042"
      - "8088:8088"
      - "22:22"
      - "9866:9866"
      - "9867:9867"
      - "9871:9871"
      - "10020:10020"
      - "8020:8020"
    volumes:
      - hdfs_namenode:/opt/hadoop/hdfs/namenode
      - hdfs_datanode:/opt/hadoop/hdfs/datanode
      - hadoop_logs:/opt/hadoop/logs
      - hadoop_config:/opt/hadoop/etc/hadoop

volumes:
  hdfs_namenode:
  hdfs_datanode:
  hadoop_logs:
  hadoop_config:
